---
layout: internal-page
id: ui-components
---

<section class="chico-bg-noise chico-head">
    <div class="ml-bounds">
        <h1>UI Components</h1>
        <h3>Built to provide extensible popovers, iconography, form validations, and more.</h3>
    </div>
</section>

<div class="ml-bounds mesh-row">
    <div class="mesh-col-12 mesh-col-m-9 chico-component">
        {% for post in site.posts %}
            <article id="{{ post.tags }}">
                {{ post.content }}
            </article>
        {% endfor %}
    </div>

    <nav class="mesh-col-12 mesh-col-m-3 chico-contents">
        <ul id="nav-sections">
            {% for post in site.posts %}
                <li><a href="#{{ post.tags }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
