/*
 * Grids
 * @autor: Natalia Devalle
 * @mod: 29/12/10
 * @version: 0.2
 *
 */
 
.ch-g1-4, 
.ch-g1-3, 
.ch-g1-3e,
.ch-g1-2, 
.ch-g2-3,
.ch-g3-5, 
.ch-g1 {
	float:left; 
	display: inline-block; 
	vertical-align: top;
	overflow:hidden;
}

.ch-g1-4 { width:25%;}
.ch-g1-3 { width:33.33%; }
.ch-g1-3e { width:33.34%; } /* extra 0.01% when using 3 columns of 33% - TODO: define name class*/
.ch-g1-2 { width:50%;} 
.ch-g2-3 { width:66.67%;}
.ch-g3-4 { width:75%; }
.ch-g1 { width:100%;} 

/* gutter must be on the left child container always */
.gutter {margin-right: 20px;}


