/*
 * Grids
 * @autor: Natalia Devalle
 * @mod: 03/01/11
 * @version: 0.3
 *
 */
 
/* about class names: 1-2 = 1/2 = 50% */
 
.ch-g1, 
.ch-g5-6,
.ch-g4-5,
.ch-g3-4,
.ch-g2-3, .ch-g4-6,
.ch-g3-5,
.ch-g1-2, .ch-g2-4, .ch-g3-6,
.ch-g2-5,
.ch-g1-3e,
.ch-g1-3, .ch-g2-6,
.ch-g1-4,
.ch-g1-5,
.ch-g1-6e,
.ch-g1-6 {
	float:left; 
	display: inline-block; 
	vertical-align: top;
	overflow:hidden;
}

.ch-g1 { width:100%;} 
.ch-g5-6 {width: 83.3%;}
.ch-g4-5 {width: 80%;}
.ch-g3-4 { width:75%; }
.ch-g2-3, .ch-g4-6 { width:66.67%;}
.ch-g3-5 {width: 60%;}
.ch-g1-2, .ch-g2-4, .ch-g3-6 { width:50%;} 
.ch-g2-5 {width: 40%;}
.ch-g1-3e { width:33.34%; } /* Rounding - TODO: define better class name*/
.ch-g1-3, .ch-g2-6 { width:33.33%; }
.ch-g1-4 { width:25%;}
.ch-g1-5 { width:20%;}
.ch-g1-6e { width:16.7%;}  /* Rounding - TODO: define better class name*/
.ch-g1-6 { width:16.66%;}



/* gutters */

.rightcolumn {margin-left: 10px;}
.leftcolumn {margin-right: 10px;}
.centercolumn {margin-left: 10px; margin-right: 10px;}

