---
layout: internal-page
id: api-doc
---

<section class="chico-bg-noise chico-head">
    <div class="ml-bounds">
        <h1><?js= title ?></h1>
        <?js if (doc.description) { ?>
            <h3><?js= doc.description ?></h3>
        <?js } else { ?>
            <h3>All the documented members of this component.</h3>
        <?js } ?>
    </div>
</section>

<div class="ml-bounds mesh-row">
    <div class="mesh-col-12 mesh-col-m-9">
        <?js= content ?>
    </div>

    <nav class="mesh-col-12 mesh-col-m-3 chico-contents">
        <?js= this.nav ?>
    </nav>
</div>
