<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if lt IE 9]><script src="http://static.mlstatic.com/org-img/ch/vendor/html5shiv/html5shiv-3.7.0.js"></script>
<![endif]-->
<!--[if gt IE 9] <!--> <html class="no-js"> <!--<![endif]-->

<head>
    <!-- Define the charset always before the title -->
    <meta charset="utf-8"/>
    <title>Chico UI | <?js= title ?> - API Documentation</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="http://chico-ui.com.ar/src/assets/ninja.ico">

    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ui/font/lato/300.css">
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ui/font/lato/700.css">

    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/1.1.1/chico.min.css"/>
    <link rel="stylesheet" href="/chico/src/css/mesh.min.css"/>
    <link rel="stylesheet" href="/chico/src/css/base__small.css"/>
    <link rel="stylesheet" media="(min-width: 768px)" href="/chico/src/css/base__large.css"/>
    <link rel="stylesheet" href="/chico/src/css/chico__small.css"/>
    <link rel="stylesheet" media="(min-width: 768px)" href="/chico/src/css/chico__large.css"/>

    <link rel="stylesheet" href="css/prism.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="src/css/base__large.css"/>
        <link rel="stylesheet" href="src/css/chico__large.css"/>
    <![endif]-->
</head>

    <body data-country="MLA">

        <header role="banner" class="ml-header">
            <div class="ml-bounds">
                <h1 class="ml-title">Chico UI - Doc</h1>

                <a class="ml-header-btn" href="#">Back</a>
                <a class="ml-header-btn ml-header-action" href="#">Action</a>

                <a class="ml-logo" href="/chico/">Chico UI - Doc</a>
                <span class="ch-brand-name">Chico UI</span>
            </div>
        </header>

        <div class="ml-wrapper">
            <main role="main">
                <section>
                    <div class="ml-bounds row">
                        <div class="mesh-12 mesh-m-9">
                            <h1><?js= title ?></h1>
                            <?js= content ?>
                        </div>

                        <nav class="mesh-12 mesh-m-3 chico-nav">
                            <?js= this.nav ?>
                        </nav>
                    </div>
                </section>
            </main>
        </div>

        <footer role="contentinfo" class="ml-footer">
            <div class="ml-bounds">
                <small>Documentation updated on <?js= (new Date()) ?>, generated by <a href="https://github.com/jsdoc3/jsdoc" target="_blank">JSDoc</a>.</small>
            </div>
        </footer>

        <script src="http://static.mlstatic.com/org-img/ch/ui/1.0.0-rc.4/chico-jquery.min.js"></script>
        <script src="js/prism.js"></script>
        <script>
            $(function () {
                $("#copyright").text((new Date().getFullYear()) + " ");
            });
        </script>
    </body>
</html>