---
layout: internal-page
id: api-doc
---

<section class="chico-bg-noise chico-head">
    <div class="ml-bounds">
        <h1><?js= title ?></h1>
        <h3>The complete documentation about the API of this component.</h3>
    </div>
</section>

<div class="ml-bounds mesh-row">
    <div class="mesh-col-12 mesh-col-m-9">
        <?js= content ?>
    </div>

    <nav class="mesh-col-12 mesh-col-m-3 chico-contents">
        <?js= this.nav ?>
    </nav>
</div>
